*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav{
  background-color: #1A374D;
  display: flex;
  align-items: center;
  position: relative;
}
.logo{
  display: inline;
  margin: 2px 0 0 50px;
}

.logo img{
  height: 50px;
  width:50px;
  display: inline-block;
}

ul{
  color: white;
  list-style: none;
  position: absolute;
  right: 250px;
  display: flex;
}

ul li a{
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  margin: 0 5px;

}

ul li a:hover{
  background:#839AA8;
  border-radius: 6px;
  box-shadow: 4px 4px 4px grey,-4px 4px 4px grey ;
}
.box{
  max-width: 230px;
  width:100%;
  display: inline-block;
  position: absolute;
  right: 10px;
  background: #1A374D;
}

.box .search-box{
  position: relative;
  height: 38px;
  max-width: 38px;
  margin: auto;
  box-shadow: 0px 5px 10px rgba(26, 55, 77, 0.85);
  border-radius: 25px;
  transition: all 0.3s ease;
}
#check:checked ~.search-box{
  max-width: 230px;
}
#check:checked ~.search-box .icon{
  border-radius: 0 25px 25px 0;
}
.search-box .search{
  position: absolute;
  height: 100%;
  width: 100%;
  margin: auto;
  border-radius: 25px;
  outline: none;
  border: none;
  padding-left: 20px;
  font-size: 16px;

}


.search-box .icon{
  position: absolute;
  margin: auto;
  right: -2px;
  top: 0;
  text-align: center;
  line-height: 38px;
  color: white;
  font-size: 20px;
  width: 40px;
  background: #839AA8;
  height: 100%;
  border-radius:25px;
}

#check{
  display: none;
}

nav .menu-btn{
  color: black;
  font-size: 22px;
  cursor: pointer;
  display: none;
}


@media (max-width:940px) {
  nav .menu-btn{
    display: block;
    margin-left: 30px;
  }
  nav ul{
    position: fixed;
    top: 60px;
    left: -100%;
    background: rgba(26, 55, 77, 0.7);
    height: 100vh;
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 25px;
  }
  nav ul li{
    margin: 50px 0;
  }
  ul li a:hover{
    background:rgb(26, 55, 77);
    border-radius: 6px;
    box-shadow: 4px 4px 4px grey,-4px 4px 4px grey ;
  }
  nav ul li a{
    font-size: 25px;
  }
}

@media (max-width:620px) {
  nav .menu-btn{
    display: block;
    margin-left: 30px;
  }
  nav ul{
    position: fixed;
    top: 60px;
    left: -100%;
    background: rgba(26, 55, 77, 0.7);
    height: 100vh;
    width: 100%;
    display: inline-block;
    text-align: center;
  }
  nav ul li{
    margin: 20px 0;
  }
  nav ul li a{
    font-size: 30px;
  }
}
#click:checked ~ ul{
  left:0px;
  transition: all 0.8s ease;
}

#click{
  display: none;
}
